<h1>Create an article</h1>

<%# Render the partial contained in the _form.html.erb file %>
<%= render 'form' %>

<%# Note that we must always specify the relative path to the file.
E.g., if the file was contained in a "share" folder in the same directory,
we would put: render 'share/form' %>