<%# Note: The "center" class is one we had to style ourselves in the custom.css.scss file. %>
<div class="center jumbotron">
    <h1>PUBLIC ENEMY #1</h1>


    <%# The # is an empty link. I.e., it links to the current page. %>
    <%= link_to "Sign up now", "#", class: "btn no-border btn-danger btn-lg btn-xlarge" %>
</div>