// Normally the stuff done in this file would be done in application.css it seems, but
// in this case we are creating a custom version.
// See: https://github.com/twbs/bootstrap-sass
// Note that the course doesn't use the latest version of Bootstrap.

// If you want to make custom changes to the library Bootstrap makes available for you, such
// as making navigation bars a different color, you would do that here above the import statements in
// your custom css.scss file.
// Note that this is where you change default stylings--not stylings by id or class.
// The latter should be done below the import statements.

// Make the navigation bar blue by default
$navbar-default-bg: black;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// To see the element that has id "logo", go the the _navigation.html.erb file.
#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}


.center {
    text-align: center;
}


.jumbotron {
    // We can actually add a background image for the jumbotron from this file.
    // Note that the image is stored in the app/assets/images directory.
    background-image: asset-url('jumbotron_img.png');
    background-size: cover;
    height: 550px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.no-border {
    border: none;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

// He put links in his footer, but I don't have any
// so I commented this code out.
// footer a:hover {
//     color: #222;
// }

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}